* {
  box-sizing: border-box;
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
  font-weight: 600;
  font-family: "Orbitron", sans-serif;
}

h1 {
  font-family: "Honk", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 10rem;
  font-style: normal;
  font-variation-settings: "MORF" 15, "SHLN" 50;
}

.button-49,
.button-49:after {
  font-family: "Orbitron", sans-serif;
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 1.3rem;
  background: linear-gradient(45deg, transparent 5%, #ff3dae 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 6px 0px #121212, 12px 12px 0px #000000; /* Retro shadow effect */
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "PORTAL";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #ffff78 3%,
    #ffff78 5%,
    #ff3dae 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #ffff78;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}

.timer {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: white;
  font-weight: bold;
}

body {
  overscroll-behavior-y: none;
}

h2 {
  font-size: 3rem;
}

.fullscreen {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease, visibility 1s ease;
  z-index: 9999;
  background: rgb(52, 193, 194);
  background: linear-gradient(
    45deg,
    rgba(52, 193, 194, 1) 0%,
    rgba(179, 38, 131, 1) 100%
  );
}

.bg.notready {
  opacity: 1;
  visibility: visible;
}

.bg.ready {
  opacity: 0;
  visibility: hidden;
}

ul {
  list-style: none;
}

.crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.crosshair2 {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px, solid, black;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
